
*{
	/*font-family: Livvic, sans-serif;*/
    font-family: Poppins, sans-serif;
}
/*body {overflow-x: hidden;}*/
html,body{
    overflow-x: hidden;
    overflow-y: auto;
}

.vh-100 {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: Poppins, sans-serif;
    line-height: 1.2;
    color: #029b7a;
}

h4, h5, .h4, .h5 {
    font-size: 26px;
    font-weight: 400;
}
 h6, .h6 {
    font-size: 20px;
    font-weight: 400;
}

h1, h2, h3, .h1, .h2, .h3{
    font-size: 35px;
    font-weight: 500;
}

.nav-link {
    color: #029b7a;
}

.navbar.navbar-expand-sm {
    background: #cacdccd9 !important;
}

.teb-title{
    font-size: 14px;
    color: #000;
    font-weight: 500;
    margin-left: 41px !important;
}
.teb-desc {
    margin-left: 42px !important;
    margin-top: 19px;
    font-size: 15px;
    line-height: 0;
    color: #000;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: unset !IMPORTANT;
    border-radius: 60px !important;
    color: #02c39a !important;
    width: 100%;
    text-align: left;
}

.active .teb-title {
    color: #02c39a;
}

.navBtn:disabled p {
    color: #d2d4d4;
}

.nav-link{
    text-align: left;
}

.quickContactSection{
    margin-left: auto;
    margin-right: 20px;
}

.quickContactSection a, a:hover{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

 .nav-link:hover {
    background-color: #f3f3f3 !important;
    border-radius: 60px;
}

 .nav-link:hover, .nav-link:focus {
     color: #02c39a;
 }

.nav-link-item {
    /*border: 1px solid #baf8eb;*/
    /*border-radius: 60px;*/
    font-size: 18px;
}

.step-border {
    border-left: 3px solid #d2d4d4;
    height: 40px;
    margin-left: 10%;
}
/* Tab icon */

#navchoose{
    position: relative;
}

b.tab-number {
    margin-top: 18px !important;
    position: absolute;
    background: #02c39a;
    padding: 5px 12px;
    border-radius: 61px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    /*left: 29px;*/
}

b.tab-icon {
    margin-top: 16px !important;
    padding: 8px 8px;
}

/*
* ACCORDION WITH TOGGLE ICONS
*/

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(186 248 235) !important;
}

.accordion-button:not(.collapsed) {
    color: #029b7a !important;
}

.accordion-button {
  background-color: #baf8eb !important;
}
.accordion-item {
    background-color: unset;
    border: unset;
    padding: 6px;
}
.accordion-collapse {
    background-color: #f8f6fa;
}


/*
* icon eye
*/

.icon-eye {
    font-size: 14px;
    margin-top: 5px !important;
    margin-left: 5px;
}

/*
*  Category and products
*/

.thumbnail.view-more {
    position: relative;
}
.view-more-text.small {
    position: absolute;
    font-size: 14px;
    top: 2px;
    text-align: center;
    background-color: #67b6f4b5;
    color: #fff;
    font-weight: 500;
    padding: 5px 7px;
    border-radius: 6px;
}


/*
*  Model slider
*/
.carousel-indicators [data-bs-target]{
	background-color: #0e0068 !important;
}


.carousel-control-prev, .carousel-control-next {
    top: 40%;
    border-radius: 40px;
    height: 6.5%;
    background: #02c39a;
    width: 3.5%;
    opacity: 0.7;
}

.carousel-control-next-icon {
    width: 44%;
}
.carousel-control-prev-icon {
   width: 44%;
}

/*
*  File upload section Tab
*/

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #fff !important;
    color: #029b7a !important;
    border-bottom: 4px solid #029b7a !important
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
    color: #000
}

.nav-tabs .nav-link {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #60D0FF;
    color: #fff;
    font-weight: 600
}

.nav-link {
    height: 77px;
    font-size: 17px;
    background-color: #fff
}

.nav-link:hover {
    border: none
}

.nav-link:focus {
    outline: none
}

.tab-pane {
    height: 300px
}

.form-control {
    /*height: 45px;*/
    position: relative
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #9a1550
}

.flight-where-from:after {
    position: absolute;
    content: '23';
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.custom-button {
    height: 45px;
    background-color: #9a1550;
    border: none;
    color: #fff
}

.custom-button:hover,
.custom-button:focus {
    background-color: #9a1550;
    box-shadow: none;
    outline: none
}

.scroll-y {
    overflow-y: scroll;
    height: 100vh;
}

.nav-link:hover {
    background-color: unset !important;
    border-radius: unset !important;
}

.d-flex.flex-column.lh-lg i {
    color: #029b7a;
    text-align: center;
}

.d-flex.flex-column.lh-lg span {
    text-align: center;
}

/*Login && Register Start*/
.custom__login, .custom__login:hover {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    margin-right: 15px;
}

.custom__register, .custom__register:hover {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
/*Login && Register End*/

.subaccordion-button.accordion-button:not(.collapsed)::after {
    display: none !important;
}

.next-prev-btn {
    padding: 10px 30px;
    border: 2px solid #ffffff !important;
    background-color: #029b7a;
    color: #fff;
    margin-left: 20px;
}

/*.btn-outline-danger, .btn-outline-danger:disabled {
    color: #029b7a;
    border-color: #029b7a;
}

.btn-outline-danger:hover {
    background: #029b7a;
    border-color: #029b7a;
}*/

.fileUploadBtn, .fileUploadBtn:hover {
    background: #029b7a;
    border-color: #029b7a;
}

.notifyjs-bootstrap-base{
    padding: 3px 15px 3px 25px !important
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    background: #029b7a;
}

.btn {
    /*border: none;*/
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 9px 51px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn-sep:before {
    background: rgba(0,0,0,0.15);
}

.payment-order-btn {
    background: #3498db;
    color: #fff;
}

.payment-order-btn:hover {
    background: #2980b9;
}

.payment-order-btn:active {
    background: #2980b9;
    top: 2px;
}

.payment-order-btn:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 2;
    font-size: 113%;
    width: 40px;
}

.icon-send:before {
    content: "\f1d8";
}

@media only screen and (min-width : 768px) {
    .choose__service__section {
        margin-bottom: 3rem !important;
    }
}

@media only screen and (max-width : 375px) {

    .navbar-brand img {
        width: 44px !important;
    }

    .quickContactSection {
        margin-left: none !important;
        margin-right: 0px !important;
    }

    .quickContactSection a {
        font-size: 14px !important;
    }

    .dropdown a.custom__login.text-dark {
        font-size: 14px !important;
        margin-left: 15px !important;
    }

    .dropdown a.custom__register.text-dark {
        font-size: 14px !important;
    }

    .vh-100 {
        height: 90vh !important;
    }

}

/*---Category Tooltip Start---*/
.tooltip {
    position: relative;
    display: inline-block;
    opacity: unset;
    z-index: unset !important;
}

.tooltip .tooltip__text {
    visibility: hidden;
    width: 550px;

    /*text-align: center;*/
    border-radius: 6px;
    padding: 10px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 999999;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-weight: 300;
}

.tooltip__hint__image{
    background-color: #ffffff;
    padding: 10px;
}

.hint__image {
    border: 3px solid #bda9a9;
}

.tooltip__hint__text{
    background-color: #ffffff;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tooltip__section{
    height: 140px;
    top: 0;
    border: 2px solid #eddfdf;
    position: absolute;
    width: 100% !important;
}

.tooltip:hover .tooltip__text {
    visibility: visible;
}

.contactModalBtn{
    padding-left: 11px !important;
}

#quickContactModalId .modal-header {
    background: #4b9c7c !important;
}

#quickContactModalId h4.modal-title {
    color: #fff !important;
}

#quickContactModalId button.btn.btn-primary {
    background: #4b9c7c;
    border: none;
    color: #fff;
}

/*---Category Tooltip Start---*/

@media only screen and (max-width : 768px) {
    .nav__menu__section {
        display: none;
    }

    .next-prev-btn {
        border: 2px solid #ffffff !important;
        padding: 10px 12px !important;
        margin-left: 0px !important;
    }

    .tooltip .tooltip__text {
        width: 260px !important;
    }

    .contactModalBtn{
        padding-left: 0px !important;
    }

    .dropdown #dropdownUser1 strong {
        font-size: 14px !important;
    }

    .contactModalBtn.contactBtn {
        font-size: 14px !important;
        margin-left: 9px !important;
    }
}
